.shop_title{
    margin-top: 4rem;
    text-align: center;
    font-size: 30px;
    font-family: 'Emilys Candy', cursive;
    color: #fff;
    
}
.products{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
   
    
    
}
.product{
    
    width: 200px;
    height: 350px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    align-items: center;
    background-color: violet;
    border-radius: 10px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.product img{
    width: 150px;
    height: 150px;
}
.product .descrit{
    text-align: center;
    color: #fff;
    font-size: 2rem;
   

}

.add_btn{
    color: #fff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.74);
    cursor: pointer;
    border: 1px solid black;

}
.add_btn:hover{
    background-color:rgba(0, 0, 0, 0.89);
}
  
  
  