.shop_title{
    margin-top: 4rem;
    text-align: center;
    font-size: 30px;
    font-family: 'Emilys Candy', cursive;
    color: #fff;
}
.products{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    
}
.product{
    
    width: 200px;
    height: 350px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-top: 4rem;
    align-items: center;
    
    border: 1px solid red;
}
.product img{
    width: 150px;
    height: 150px;
}
.product .descrit{
    text-align: center;
    color: #fff;
    

}
.add_btn{
    color: #fff;
}
  
  
  